* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
.page-head {
  height: 80px;
  width: 100%;
  font-size: 0;
  border-bottom: 1px solid #e5e5e5;
}
.page-head .container {
  width: 1000px;
  margin: 0 auto;
  height: 80px;
}
.page-head .container .head-logo {
  float: left;
  margin-top: 26px;
}
.page-head .container .head-nav {
  height: 80px;
  margin-left: 40px;
  display: inline-block;
  margin-right: 10px;
}
.page-head .container .head-nav .nav-item {
  margin-right: 45px;
  font-size: 18px;
  color: #3e3e3a;
  line-height: 80px;
  text-decoration: none;
  position: relative;
}
.page-head .container .head-nav .nav-item.active {
  color: #4f6fda;
}
.page-head .container .head-nav .nav-item.active:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  background: #4f6fda;
  bottom: -29px;
  left: 0px;
}
.page-head .container .head-input {
  width: 200px;
  height: 40px;
  margin-top: 22px;
  vertical-align: top;
  display: inline-block;
  border: 1px solid #d8d8d8;
}
.page-head .container .head-input .search-input {
  border: none;
  display: inline-block;
  width: 158px;
  height: 38px;
  vertical-align: top;
  padding-left: 15px;
  color: #d9d9d9;
  outline: none;
}
.page-head .container .head-input .search-icon {
  width: 40px;
  height: 38px;
  display: inline-block;
  background: #fcfcfc;
}
.page-head .container .head-input .search-icon img {
  width: 40px;
  height: 40px;
}
.page-head .container .head-other {
  float: right;
  margin-top: 22px;
}
.page-head .container .head-other .other-item {
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
  display: inline-block;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
}
.page-head .container .head-other .login {
  background: #fff;
  color: #4f6fda;
  border: 1px solid #4f6fda;
}
.page-head .container .head-other .register {
  color: #fff;
  background: #4f6fda;
  margin-right: 0px;
}
.page-mainer .banner-section {
  position: relative;
  height: 520px;
  background: url(../images/banner.png);
  background-position: center;
}
.page-mainer .banner-section .banner-button {
  position: absolute;
  text-align: center;
  left: 892px;
  bottom: 32px;
}
.page-mainer .banner-section .banner-button .button-item {
  display: inline-block;
  margin-right: 20px;
  width: 13px;
  height: 13px;
  background: #7f92e2;
  border-radius: 50%;
}
.page-mainer .banner-section .banner-button .button-item.active {
  width: 38px;
  border-radius: 7.5px;
  background: #fff;
}
.page-mainer .person-section .container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.page-mainer .person-section .container .person-title {
  margin-top: 70px;
  font-size: 24px;
  color: #333333;
  margin-bottom: 5px;
}
.page-mainer .person-section .container .person-subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 60px;
}
.page-mainer .person-section .container .person-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page-mainer .person-section .container .person-list .person-item {
  position: relative;
  width: 480px;
  height: 180px;
  box-shadow: 0px 0px 2px 0px;
  margin-bottom: 105px;
  border-radius: 15px;
  cursor: pointer;
}
.page-mainer .person-section .container .person-list .person-item:hover {
  transition: all ease .8s;
  background: linear-gradient(24deg, #5979e1, #3a5bca);
  box-shadow: 0px 11px 28px 1px rgba(172, 187, 238, 0.5);
  /*animation:mymove 1s 1;
            background-color:rgba(58,91,202,1);*/
}
.page-mainer .person-section .container .person-list .person-item:hover .person-item-text .person-item-title {
  color: #fff;
}
.page-mainer .person-section .container .person-list .person-item:hover .person-item-text .person-item-info {
  color: #fff;
}
.page-mainer .person-section .container .person-list .person-item:hover .person-item-text .person-item-desc {
  color: #fff;
}
.page-mainer .person-section .container .person-list .person-item:hover .right-btn {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
@keyframes mymove {
  0% {
    background-color: #5979e1;
  }
  /*20% {background-color:rgba(58,91,202,1);}
          40% {background-color:#333;}
          60% {background-color:#333;}
          80% {background-color:#333;}*/
  100% {
    background-color: #3a5bca;
  }
}
.page-mainer .person-section .container .person-list .person-item .person-item-photo {
  position: absolute;
}
.page-mainer .person-section .container .person-list .person-item .person-item-photo .person-item-img {
  width: 100%;
}
.page-mainer .person-section .container .person-list .person-item .p1 {
  width: 166px;
  height: 228px;
  bottom: 1px;
  left: 19px;
}
.page-mainer .person-section .container .person-list .person-item .p2 {
  width: 173px;
  height: 199px;
  bottom: 0px;
  left: 14px;
}
.page-mainer .person-section .container .person-list .person-item .p3 {
  bottom: -5px;
  left: 19px;
}
.page-mainer .person-section .container .person-list .person-item .p4 {
  width: 186px;
  height: 237px;
  bottom: -2px;
  left: 24px;
}
.page-mainer .person-section .container .person-list .person-item .person-item-text {
  padding: 33px 21px 0px 200px;
  text-align: left;
}
.page-mainer .person-section .container .person-list .person-item .person-item-text .person-item-title {
  font-size: 25px;
  line-height: 24px;
  color: #333;
  margin-bottom: 14px;
}
.page-mainer .person-section .container .person-list .person-item .person-item-text .person-item-info {
  color: #666;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 9px;
}
.page-mainer .person-section .container .person-list .person-item .person-item-text .person-item-desc {
  font-size: 12px;
  color: #999;
  line-height: 22px;
}
.page-mainer .person-section .container .person-list .person-item .right-btn {
  position: absolute;
  border-bottom: 2px solid #4666d3;
  border-right: 2px solid #4666d3;
  width: 15px;
  height: 15px;
  right: 20px;
  top: 81px;
  transform: rotate(-45deg);
}
.page-mainer .learn-section {
  padding-top: 40px;
  background: #f0f3f5;
  font-size: 0;
  padding-bottom: 85px;
}
.page-mainer .learn-section .container {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.page-mainer .learn-section .container .learn-lesson .lesson-title {
  font-size: 24px;
  letter-spacing: 5px;
  color: #333;
  background: url(../images/curriculum.png);
  background-repeat: no-repeat;
  background-position: center -9px;
  background-size: cover;
  width: 242px;
  height: 46px;
  margin: 0 auto;
  display: block;
  line-height: 70px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-subtitle {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  margin-bottom: 38px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item {
  width: 235px;
  height: 290px;
  position: relative;
  margin-bottom: 45px;
  background: #fff;
  cursor: pointer;
  transition: all ease .2s;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item:hover {
  box-shadow: 0px 2px 40px 3px rgba(213, 217, 220, 0.99);
  transform: translateY(-20px);
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-photo {
  width: 235px;
  height: 150px;
  margin-bottom: 13px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-photo .lesson-item-img {
  width: 235px;
  height: 150px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text {
  padding-left: 12px;
  text-align: left;
  width: 235px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text .lesson-item-title {
  font-size: 15px;
  color: #466de2;
  margin-bottom: 7px;
  line-height: 15px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text .lesson-item-desc {
  font-size: 12px;
  color: #999;
  margin-bottom: 17px;
  line-height: 12px;
  text-overflow: ellipsis;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text .level {
  font-size: 12px;
  color: #999;
  line-height: 12px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text .lesson-item-info {
  position: relative;
  margin-top: 27px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text .lesson-item-info .price {
  font-size: 15px;
  color: #f53316;
  font-weight: 600;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-text .lesson-item-info .star {
  position: absolute;
  bottom: 2px;
  right: 14px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .newlesson-tag {
  display: block;
  position: absolute;
  top: -10px;
  right: 13px;
  width: 80px;
  height: 88px;
  background: url(../images/newlesson.png);
  background-size: cover;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item .lesson-item-tag {
  position: absolute;
  display: block;
  top: 110px;
  right: 10px;
  padding: 0px 22px;
  height: 30px;
  font-size: 15px;
  color: #fff;
  background: #000;
  border: 1px solid #ffffff;
  border-radius: 15px;
  line-height: 30px;
  z-index: 99;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item:nth-child(5) {
  margin-bottom: 0px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item:nth-child(6) {
  margin-bottom: 0px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item:nth-child(7) {
  margin-bottom: 0px;
}
.page-mainer .learn-section .container .learn-lesson .lesson-list .lesson-item:nth-child(8) {
  margin-bottom: 0px;
}
.page-mainer .learn-section .container .learn-route .route-title {
  font-size: 24px;
  letter-spacing: 5px;
  display: block;
  width: 316px;
  height: 42px;
  margin: 0 auto;
  background: url(../images/LearningPath.png);
  background-size: cover;
  background-position: center -12px;
  line-height: 65px;
}
.page-mainer .learn-section .container .learn-route .route-subtitle {
  margin-top: 7px;
  font-size: 14px;
  line-height: 15px;
  color: #666;
  margin-bottom: 52px;
}
.page-mainer .learn-section .container .learn-route .route-list {
  display: flex;
  justify-content: space-between;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item {
  width: 235px;
  height: 290px;
  position: relative;
  margin-bottom: 45px;
  background: #fff;
  cursor: pointer;
  transition: all ease .3s;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item:hover {
  box-shadow: 0px 2px 40px 3px rgba(239, 239, 239, 0.99);
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-photo {
  width: 235px;
  height: 150px;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-photo .route-item-img {
  width: 235px;
  height: 150px;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text {
  padding: 13px 15px;
  text-align: left;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text .route-item-title {
  font-size: 15px;
  line-height: 15px;
  color: #333;
  margin-bottom: 6px;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text .route-item-desc {
  font-size: 12px;
  color: #999;
  line-height: 12px;
  margin-bottom: 18px;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text .level {
  font-size: 12px;
  line-height: 12px;
  color: #9aabb8;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text .route-item-info {
  position: relative;
  margin-top: 27px;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text .route-item-info .price {
  font-size: 15px;
  color: #f53316;
  margin-right: 33px;
  font-weight: 600;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-text .route-item-info .star {
  position: absolute;
  bottom: 2px;
  right: 14px;
}
.page-mainer .learn-section .container .learn-route .route-list .route-item .route-item-tag {
  font-size: 15px;
  color: #fff;
  padding: 0 26px;
  line-height: 30px;
  background: #000;
  border: 1px solid #ffffff;
  position: absolute;
  top: 110px;
  right: 10px;
  border-radius: 15px;
}
.page-mainer .learn-section .container .learn-project {
  background: url(../images/challenge.png);
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 40px;
  position: relative;
}
.page-mainer .learn-section .container .learn-project .project-list {
  display: flex;
  justify-content: space-around;
  padding: 0 95px;
}
.page-mainer .learn-section .container .learn-project .project-list .project-item {
  width: 260px;
  height: 180px;
  background: linear-gradient(180deg, #ffffff, #daf8fe);
  position: relative;
  cursor: pointer;
}
.page-mainer .learn-section .container .learn-project .project-list .project-item:hover {
  transform: translateY(-15px);
  transition: all ease .5s;
  background: linear-gradient(180deg, #ffffff, #d1cfe3);
}
.page-mainer .learn-section .container .learn-project .project-list .project-item .project-item-logo {
  width: 42px;
  height: 57px;
  position: absolute;
  top: 31px;
  left: 30px;
}
.page-mainer .learn-section .container .learn-project .project-list .project-item .project-item-desc {
  font-size: 20px;
  color: #34495e;
  line-height: 27px;
  text-align: center;
  padding-left: 90px;
  padding-top: 35px;
  padding-right: 27px;
  margin-bottom: 30px;
}
.page-mainer .learn-section .container .learn-project .project-list .project-item .join {
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  width: 180px;
  height: 40px;
  display: block;
  background: linear-gradient(66deg, #5978e1, #3c5ccb);
  border-radius: 20px;
}
.page-mainer .learn-section .container .learn-project .left-button {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  background: url(../images/left.png);
  bottom: 105px;
  left: 20px;
}
.page-mainer .learn-section .container .learn-project .right-button {
  position: absolute;
  width: 50px;
  height: 50px;
  display: block;
  background: url(../images/right.png);
  bottom: 105px;
  right: 20px;
}
.page-foot {
  background: #2d2d2d;
  padding-top: 45px;
  font-size: 0;
  padding-bottom: 30px;
}
.page-foot .container {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
.page-foot .container .foot-contact {
  display: flex;
  justify-content: space-between;
  padding: 0 380px 50px;
}
.page-foot .container .foot-contact .contact-item {
  width: 50px;
  height: 55px;
  text-align: center;
}
.page-foot .container .foot-contact .contact-item .contact-item-logo {
  margin-bottom: 12px;
  height: 29px;
}
.page-foot .container .foot-contact .contact-item .contact-item-link {
  font-size: 12px;
  color: #a0a0a0;
  line-height: 12px;
  text-decoration: none;
}
.page-foot .container .foot-text {
  border-top: 2px solid #333333;
  padding-top: 28px;
}
.page-foot .container .foot-text .foot-info {
  margin-bottom: 15px;
}
.page-foot .container .foot-text .foot-info .info-item {
  display: inline-block;
  margin-right: 105px;
  font-size: 12px;
  line-height: 12px;
  color: #7f7f7f;
  position: relative;
}
.page-foot .container .foot-text .foot-info .info-item:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 12px;
  background: #7f7f7f;
  top: 3px;
  right: -52px;
}
.page-foot .container .foot-text .foot-info .info-item:last-child:after {
  display: none;
}
.page-foot .container .foot-text .foot-remark {
  font-size: 12px;
  line-height: 12px;
  color: #7f7f7f;
}
